<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Bookend Books
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/about">About</a></li> -->
                <li><a href="/addBooks">Add Books</a></li>
                <li><a href="/allBooks">All books</a></li>
                <li><a href="/fantasyBooks">Fantasy books</a></li>
                <li><a href="/sortedByDateBooks">Sorted by date books</a></li>
                <!-- <li><a href="/sciFiBooks">SciFi books</a></li> -->
                <!-- <li><a href="/error">Error</a></li> -->
            </ul>
        </div>
    
    </div>
    </nav>