<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
    <h1>Bookend Books</h1>
    <!-- <img src="../../public/images/Bookends.jpg" alt="Bookends"> -->
    <p>Welcome to Bookend Books!</p>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>