
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
      <h2>Here are your books</h2>

      <%if (dataArray != null) { %>
       
        <ul class="list-group">
            <% dataArray.forEach(function(dat) {%>
              <li class="list-group-item"><%= "Title:  " + dat.id + " || Author: " + dat.author + " || Genre: " + dat.genre + " || Date: " + dat.date %></li>
            <% }) %>
          </ul>


        <% } %>

     

     
      </br>

  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>
<!-- <script type="text/javascript">
// our menu calls this page URL with no ?id= value,
// so code needs to check for that
// when user enters data, I append the data using the required ?id=

  function updateURL() {
    // http://localhost:3000/uploadData?id=Terminator&date=1946
    var myURL = (document.location).toString();
    var n = myURL.indexOf("?");
    myURL = myURL.substr(0, n); 
    document.location = myURL + "?id=" + document.getElementById("book").value + "&date=" +  document.getElementById("date").value;
   // document.location = "http://localhost:3000/about"

  }
</script> -->

</body>
</html>